#!/bin/sh

files=$(git ls-files | grep 'pbxproj')

if test $(perl .ci/sort.pl --check $files 2>&1 | wc -l) != 0 
then
    echo "Error: Attemping to commit an unsorted xcode project file. Please run perl .ci/sort.pl $files before commiting."
    exit 1
fi
